
<div style="height:200px"></div>
<footer class="footer grey darken-3" style="position:fixed;bottom:0px;right:0px;left:0px;">



    
    

      
     
      
    <div class="container" style="align:center">
    

      <% if (user) {%>
      <div class="fixed-action-btn">
  <a href="/add" class="btn-floating btn-large red">
    <i class="fa fa-plus"></i>
  </a>
</div>
  <%}%>
      </div> 
  
</footer>